<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 id="page-heading">
        <i class="fas fa-address-book"></i>
        My Contacts List</h1>
    <div>
        <ul>
            <%for (let i of contact_List){%>
            <li>
                <p><%= i.name%></p>
                <p><%= i.phone%></p>
            </li>
            <% } %>
        </ul>
    </div>
    <form action="/create-contact" method="post">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="phone" placeholder="Enter Phone" required>

        <button type="submit">Add</button>
    </form>
    <script src="/js/home.js"></script>
</body>
</html>